@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #222222;
}

:root {
    --white: #ffffff;
    --black: #222222;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}